@import './variables.scss';

.Home {
  @include photo-background;
  padding: 0;

  .UserNav {
    background: $green-main;
    color: $dark-green-accent;
    h2 {
      margin-top: 0;
    }
  }

  .LocationNav {
    background: $white;
    font-size: 0;
    p {
      font-size: 0.8rem;
      text-align: left;
      margin: 4px;
      &:first-child {
        margin-left: 9px;
      }
    }
    span {
      display: block;
    }
    .menu-icon-light {
      color: $grey-light;
    }
  }

  .content {
    height: calc(100vh - 174px);
    color: $white;
    position: relative;
  }

  .ToolsNav {
    height: 70px;
    background: $green-main;
    justify-content: space-between;
    font-size: 0; 
  }

  a, a:link, a:hover {
    color: $grey-dark;
    position: relative;
  }

  .tab-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }

  .loading-animation {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 100;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid $white;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.7s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 74px;
      height: 74px;
      opacity: 0;
    }
  }
}