@import './variables.scss';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey-dark;
  text-align: center;
}

form {
  background: $green-main;
  width: calc(80% - 2em);
  margin: 0 auto;
  padding: $box-padding;
  border-radius: $border-radius;
  text-align: center;

  h2 {
    margin: 0.5em;
  }

  label {
    display:block;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    span {
      display: block;
    }
  }

  input {
    border-radius: $border-radius;
    height: 1.8em;
    width: calc(100% - 4px);
    text-align: center;
  }

  p {
    margin: 1em 0 0 0;
  }

  label, p {
    color: $dark-green-accent;
  }

  ._action {
    width: 100%;
    margin-top: 1em;
  }
}

._action {
  display: block;
  margin: 0 auto;
  padding: 0.8em;
  width: 80%;
  border: none;
  border-radius: $border-radius;
  background-color: $green-accent;
  color: $white;
}

._outlined {
  border: 1px solid $white;
}

._transparent {
  background: transparent;
}

._underlined-link {
  text-decoration-line: underline;
  color: $white;
}

.nav-main {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-metrics {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}