@import './index.scss';

.Login {
  @include photo-background;
  color: white;

  h1 {
    padding-top: 2em;
  }

  form {
    text-align: center;
  }

  label {
    display:block;
  }

  span {
    display: inline-block;
    width:25%;
    text-align: left;
  }
}