@import './variables';

.mapboxgl-map {
  position: relative;
  text-align: left; 
  cursor: crosshair;
}

.mapboxgl-canvas {
  cursor: crosshair;
}

.route-options {
  position: absolute;
  border-radius: $border-radius;
  width: 320px;
  bottom: $box-padding;
  padding: .5rem;
  left: calc(50% - (160px + .5rem));
  background: rgba($white, .5);
  color: black;
  z-index: 100;

  button {
    position: relative;
    border: none;
    padding: 0;
    margin: 5px 10px 5px 10px;
    background: transparent;
    cursor: pointer;
  }

}