@import './variables';

.SearchBox {
  width: 100%;
  height: 60px;
  background: $green-accent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  form {
    margin: 0.5rem 5px 0.5rem 5px;
  }

  input, button {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    border-radius: $border-radius;
    height: 1.8rem;
    width:calc(100% - 1rem - 47px);
    text-align: center;
    margin-right: 5px;
  }

  button {
    cursor: pointer;
    background: transparent;
    color: $dark-green-accent;
    margin: 0;
    padding: 0;
    border: none;
    width: 42px;
    height: 42px;
  }
}