@import './variables.scss';

.Splash {
  @include photo-background;

  ._action {
    margin-bottom: 0.4em;
  }

  ._slider-button {
    position: relative;
    top: -60px;
    z-index: 6;
  }

  ._add-box {
    background: $green-main;
    width: 100%;
    height: calc(100% - 2em);
    border-radius: $border-radius;
    padding: $box-padding;
    margin: 0.5em;
    font-size: 1.3em;
    p {
      margin-top: 0.2em;
      text-align: left;
      color: $dark-green-accent;
    }
    h3 {
      margin: 0.3em 0 0 0;
    }
  }

  ._tagline {
    background: $green-main;
    padding: 0.3em;
  }

  .aws-sld__wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .aws-sld {
    margin-top: 2em;
  }

  .aws-sld__content {
    background-color: transparent;
  }

  .aws-sld__bullets button {
    background-color: $green-accent;
  }

  .aws-sld__bullets {
    bottom: -30px;
  }

  .aws-sld__prev, .aws-sld__next {
    opacity: 0;
  }
}