@import './index.scss';

.Splash {
  @include photo-background;
  height: 100vh;

  h1 {
    padding-top: 2em;
  }

  ._action {
    margin-bottom: 0.4em;
  }

  ._outlined {
    background: transparent;
    border: 1px solid $white;
  }

  ._slider-button {
    position: relative;
    top: -80px;
    z-index: 6;
  }

  ._add-box {
    background: $green-main;
    width: 100%;
    height: 30vh;
    padding: 0.5em;
    font-size: 1.3em;
    margin: 0.5em;
    border-radius: $border-radius;
  }

  .aws-sld__wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .aws-sld {
    margin-top: 2em;
  }

  .aws-sld__content {
    background-color: transparent;
  }

  .aws-sld__bullets button {
    background-color: $green-accent;
  }

  .aws-sld__bullets {
    bottom: -30px;
  }
}