@import './index.scss';

.Splash {
  @include photo-background;
  height: 100vh;

  h1 {
    padding-top: 2em;
  }

  button {
    margin-bottom: 0.4em;
  }

  ._add-box {
    background: $green-main;
    width: 80%;
    padding: 0.5em;
    margin: 1em auto;
    border-radius: $border-radius;
    font-size: 1.3em;
  }
}